.cover {
  /* The image used */
  background-image: url(./resources/background.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  text-align: center;
}

.heading {
  text-align: center;
  text-decoration: underline;
  color: #000;
}

@media screen and (min-width: 900px) {
  .heading {
    color: #dfdfdf;
  }
}
