.cover {
  /* The image used */
  background-image: url(./resources/background.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  text-align: center;
}

.heading {
  text-align: center;
  text-decoration: underline;
  /* color: #000; */
  color: #dfdfdf;
}

@media only screen and (min-width: 375px) and (max-width: 800px) {
  .heading {
    /* color: #dfdfdf; */
    color: lightcyan;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  /*  */
  section {
    display: block;
  }
}
